.header{
     text-align:center;
     color: rgb(156, 45, 45);
}
.table{
    color: rgb(10, 10, 10);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.first{
    color: rgb(155, 127, 255);
}